<%- layout('layouts/boilerplate')%>
    <div class="row mt-3">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Welcome To User Management App</h1>
            <form action="/user/register" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div>
                    <label class="form-label" for="name">Enter Name </label>
                    <input class="form-control" type="name" name="name" id="name" required>
                </div>

                <div>
                    <label class="form-label" for="email">Enter Email Id: </label>
                    <input class="form-control" type="email" name="email" id="email" required>
                </div>
                <div>
                    <label class="form-label" for="phone">Enter Mobile Number: </label>
                    <input class="form-control" type="phone" name="phone" id="phone" required>
                </div>
                <div>
                    <label class="form-label" for="password">Enter Password: </label>
                    <input class="form-control" type="password" name="password" id="password" required>
                </div>
                <div>
                    <label for="formFile" class="form-label">Select A Profile Picture</label>
                    <input class="form-control" type="file" id="formFile" name="profile" required>
                </div>

                <div class="d-grid gap-* mt-3">
                    <button class="btn btn-success btn-block">Sign Up</button>
                </div>
            </form>
            <div class="d-grid gap-* mt-3">
                <a class="btn btn-primary" href="/user/login">Already a User ? Click here </a>
            </div>
            <div class="d-grid gap-* mt-3">

                <a href="/" class="btn btn-secondary ">Home</a>
            </div>
        </div>
    </div>