<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>
    <h1>Welcome To User Management App</h1>
    <form action="/login" method="post">
        <label for="email">Enter Registered Email Id: </label>
        <input type="email" name="email" id="email">
        <button>Send OTP</button>
        <div>OR</div>
        <label for="phone">Enter Registered Mobile Number: </label>
        <input type="phone" name="phone" id="phone">
        <label for="password">Enter Password: </label>
        <input type="password" name="password" id="password">
        <button>Login</button>
    </form>
</body>

</html>