<%- layout('layouts/boilerplate')%>
    <div class="row mt-3">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center">Login</h1>

            <form action="/user/login2" method="post" novalidate class="validated-form">
                <div>
                    <label class="form-label" for="phone">Enter Registered Mobile Number: </label>
                    <input class="form-control" type="phone" name="phone" id="phone" required>
                </div>
                <div>
                    <label class="form-label" for="password">Enter Password: </label>
                    <input class="form-control" type="password" name="password" id="password" required>
                </div>

                <div class="d-grid gap-* mt-3">
                    <button class="btn btn-success">Login</button>
                </div>
                <div class="d-grid gap-* mt-3">
                </div>
            </form>
            <div class="d-grid gap- mt-3">
                <a class="btn btn-primary" href="/user/register">Register</a>
            </div>
            <div class="d-grid gap-* mt-3">

                <a href="/" class="btn btn-secondary ">Home</a>
            </div>
        </div>
    </div>